{% extends "static/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Log in
{% endblock %}

{% block content %}
<style>
    body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
<div class="container">
 <form class="form-signin" method="post" action="{{ url_for('auth.login') }}">
    <div class="row">
        <label for="{{form.username.id}}">Username</label>
        <input id="{{form.username.id}}" type="text" name={{form.username.id}} class="validate">

    </div>

    <div class="row">
            <label for="{{form.password.id}}">Password</label>
          <input id="{{form.password.id}}" type="password" name={{form.password.id}} class="validate">


    </div>

    <div class="row">

        <button class="btn waves-effect waves-light margin right" type="submit" name="log_in">Log In</button>
    </div>


</form>
    <div class="container">
             <a href="{{ url_for('auth.register') }}" class="left">Register Now?</a>
        </p>

    </div>
</div>

{% endblock %}
