{% extends "static/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Log in
{% endblock %}

{% block content %}

<div class="col-md-4 col-md-offset-4">

 <form class="form-signin" method="post" action="{{ url_for('auth.login') }}">
     <input type=hidden value="{{ next or '' }}" name=next>
    <div class="row">
        <label for="{{form.username.id}}">Username</label>
        <input id="{{form.username.id}}" type="text" name={{form.username.id}} class="validate form-control">

    </div>

    <div class="row">
            <label for="{{form.password.id}}">Password</label>
          <input id="{{form.password.id}}" type="password" name={{form.password.id}} class="validate form-control">


    </div>

    <div class="row">

        <button class=" form-control btn" type="submit" name="log_in">Log In</button>
    </div>

    <div>
        <br >
        <p>
            Create Acoount  <a href="{{ url_for('auth.register') }}" class="left">Register Now?</a>
        </p>

    </div>
</form>
    </div>



{% endblock %}
