{% extends "static/base.html" %}
{% block title %}
Create User
{% endblock %}

{% block content %}


<div class="container">
    <form method="post" action="{{ url_for('auth.register') }}">

        <div class="row">
            <label for="{{form.username.id}}">Username</label>
            <input id="{{form.username.id}}" name={{form.username.id}} type="text" class="validate">

        </div>

        <div class="row">
            <label for="{{form.password.id}}">Password</label>
            <input id="{{form.password.id}}" type="password" name={{form.password.id}} class="validate">


        </div>

        <div class="row">
            <label for="{{form.email.id}}">Email</label>
            <input id="{{form.email.id}}" type="email" name={{form.email.id}} class="validate">

        </div>

        <div class="row">
            <label for="{{form.first_name.id}}">First Name</label>
            <input id="{{form.first_name.id}}" type="text" name={{form.first_name.id}} class="validate">

        </div>
        <div class="row">
            <label for="{{form.last_name.id}}">Last Name</label>
            <input id="{{form.last_name.id}}" name={{form.last_name.id}} type="text" class="validate">

        </div>


        <div class="row">
            <label for="{{form.department.id}}">Department</label>
            <select id="{{form.department.id}}" name="department">
                <option value="-">----</option>
                {% for department in form.department.choices %}
                <option value="{{department.id}}">{{department.name}}</option>
                {% endfor %}
            </select>

        </div>


<div class="row">

        <button class="btn waves-effect waves-light margin right" type="submit" name="create_user">Create
            Account
        </button>

</div>

</form>
<div class="row">

        <p class="margin center medium-small">
            Already have an account?
            <a href="{{ url_for('auth.login') }}">Login</a>
        </p>

</div>

</div>
{% endblock %}

{% block scripts %}

{% endblock %}


