{% extends "static/base.html" %}
{% block title %}
Log in
{% endblock %}

{% block content %}
<style>
    .issue-list {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        line-height: 1;
       }

      .card-panel{
        padding: 10px !important;
        margin: 0;
        margin-bottom: 5px;
      }


</style>
<div class="row">
    <div class="col s6">
        <div class="issue-list">
            <table class="bordered">
                <tbody>
                {% for department,user in departments_admin%}
                <tr>
                    <td>
                        <div>
                            <a href="/issues/{{ department.id }}"><i class="high small material-icons ">label</i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col s6">2</div>
</div>


{% endblock %}