{% extends "static/base.html" %}
{% block title %}
    Post New Issue
{% endblock %}

{% block content %}

<div class="container">
<form method=post  role="form" action="{{url_for('issues.add_new_issue')}}">

    <div class="row">
        <label for="{{form.title.id}}">Subject</label>
          <input id="{{form.title.id}}" type="text" name={{form.title.id}} class="validate">
        </div>

    <div class="row">
        <label for="{{form.department.id}}">To Department</label>
            <select id="{{form.department.id}}" name="department">
                {% for department in form.department.choices %}
                    <option value="{{department.id}}">{{department.name}}</option>
                {% endfor %}
            </select>

        </div>


    <div class="row">

        <label for="{{ form.priority.id }}">Priority</label>
        <div id="{{ form.priority.id }}">
            {% for priority in form.priority.choices %}
            <label for="{{ priority.0 }}">{{ priority.1 }}</label>
            <input name="{{form.priority.id}}" type="radio" value="{{ priority.0 }}" id="{{ priority.0 }}" />

             {% endfor %}
        </div>

    </div>

    <div class="row description_div">
            <label for="{{ form.description.id }}">Description</label>
            <textarea id="{{ form.description.id }}" name="{{ form.description.id }}" ></textarea>

        </div>



    <div class="row">
    <div class="input-field col s12">
        <button class="btn waves-effect waves-light margin right" type="submit" name="submit_issue">Submit Issue</button>
    </div>
    </div>

</form>
</div>

{% endblock %}

{% block scripts %}
      <script type="text/javascript">
        $(document).ready(function() {
    $('select').material_select();
  });
    </script>
{% endblock %}
