{% extends "static/base.html" %}
{% block title %}
Issue List
{% endblock %}

{% block content %}

<style>

    .high{
        color :#e53935 ;
    }

    .med {
        color: #ffa000;
    }

    .low{
        color : #0277bd;
    }

    .issue-title {
        font-size : 16px;
    }

    .fa{
            font-size: 38px;
            vertical-align: middle;
    }
</style>

<div class="container">

    <table class="table table-hover">
    <tbody>
    {% for issue in issues_list %}
      <tr>
          <td>
              <i class="fa fa-bookmark fa-2 {{issue.priority}} " aria-hidden="true"></i>
          </td>

          <td><p class="issue-title {{issue.priority}} ">
              #{{issue.id}}	&#8226; {{issue.title}} 	&#8226;  {% if issue.status ==  0 %}
              OPEN
                                                              {% elif issue.status ==  1 %}
                                                                IN PROGRESS
                                                              {% elif issue.status ==  2 %}
                                                                CLOSED
                                                              {% endif %}
               </p>
              <span>created by: {{issue.fullname}}</span>

          </td>

          <td>
                <i style="display: none"><issue.status/i>

          </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
