{% extends "static/base.html" %}
{% block title %}
Issue List
{% endblock %}

{% block content %}

<style type="text/css" xmlns="http://www.w3.org/1999/html">

    .med{
        color: #f39f09 !important;
    }

     .card-panel {
        margin-top: 40px;
        margin-bottom: 20px;
        width: 70%;
        padding: 10px;
            margin-right: auto !important;
    margin-left: auto !important;
        padding-top: 20px;
        border-radius: 5px;
    }


    .high{
        color: #f44336;
    }


    .issue-title{
        font: 700 16px/20px "Gotham SSm A","Gotham SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
        letter-spacing: -.025em;
        text-rendering: optimizeLegibility;
        min-height: 22px;
        margin : 5px
    }
     .issue-list {
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        line-height: 1;
       }



      .card-panel{
        padding: 10px !important;
        margin: 0;
        margin-bottom: 5px;
      }

      td, th{
        padding : 1px;
      }

          .truncate {
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }




</style>
<div class="row card-panel issue-list" style="margin-top: 20px;">

     <table>
        <thead>
          <tr>
          </tr>
        </thead>
         <tbody>
            <tr>
                <td>
                    open
                </td>
                <td>
                    <p>
                        title<br>
                        brian
                    </p>
                </td>
                <td>
                    Brian
                </td>
            </tr>
         <tr>
                <td>
                    open
                </td>
                <td>
                    <p>
                        title<br>
                        brian
                    </p>
                </td>
                <td>
                    Brian
                </td>
            </tr>
         </tbody>
     </table>
</div>

{% endblock %}
